:root {
	--bgColor: #eff0d1;
	--cardBgColor: #f9f9ee;
	--saturatedColor: #225560;
	--textColor: #2e282a;
}

html,
body {
	background: var(--saturatedColor);
	color: var(--bgColor);
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	max-width: 30em;
	margin: auto;
	padding: 1em;
	line-height: 1.3;
	text-align: justify;
}

h1 {
	font-size: 2em;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	display: flex;
	align-items: center;
}

h1 a {
	flex: 1;
}

h1 a:hover {
	text-decoration: none;
}

h1 svg {
	height: 1em;
	width: auto;
}

h1 svg path {
	fill: var(--bgColor);
}

h2 {
	font-size: 1.4em;
	margin: 1em 0;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	color: inherit;
	background: rgba(255, 255, 255, 0.9);
}

input:focus,
button:hover {
	border-color: rgba(0, 0, 0, 0.5);
	outline: none;
}

::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.cover ::placeholder {
	color: rgba(255, 255, 255, 0.4);
}

.spinner,
button.large:after {
	width: 0;
	height: 0;
	padding: 1em;
	border: 0.2em solid transparent;
	border-top-color: inherit;
	border-radius: 9em;
	animation: spin 0.5s infinite linear;
	margin: auto;
	content: '';
	display: block;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

button {
	outline: none;
	cursor: pointer;
}

button::-moz-focus-inner {
	border: 0;
}

button.large {
	font-size: 2em;
	color: var(--saturatedColor);
	background: var(--bgColor);
	border: 0;
	border-radius: 9em;
	padding: 0.4em 1em;
	margin: 0 auto;
	transition: 0.1s box-shadow ease-in-out, 0.1s color;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	position: relative;
}

button.large:hover,
button.large:focus {
	box-shadow: 0 0 0 6px var(--saturatedColor), 0 0 0 12px var(--bgColor);
}

button.large span {
	font-size: 0.9em;
	margin-right: 0.4em;
}

button.large:after {
	visibility: hidden;
	position: absolute;
	right: 0.4em;
	top: 50%;
	margin-top: -0.65em;
	padding: 0.5em;
	border-width: 0.15em;
	transition: visibility 0.3s linear 0.3s;
}

button.large.loading {
	color: transparent;
	opacity: 0.8;
	box-shadow: none;
	cursor: default;
	transition-delay: 0.3s;
}

button.large.loading:after {
	visibility: visible;
}

button.large.loading span,
button.large.loading:after {
	color: var(--saturatedColor);
	border-top-color: var(--saturatedColor);
}

.center-contents {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background: var(--saturatedColor);
	color: var(--bgColor);
}

.blink {
	animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

.faded {
	opacity: 0.5;
}
