:root {
	--bgColor: #eff0d1;
	--saturatedColor: #225560;
	--textColor: #2e282a;
}

html,
body {
	background: var(--bgColor);
	padding: 0;
	margin: 0;
}

body {
	color: var(--textColor);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	color: inherit;
	background: rgba(255, 255, 255, 0.9);
}

input:focus,
button:hover {
	border-color: rgba(0, 0, 0, 0.5);
	outline: none;
}

button {
	outline: none;
	cursor: pointer;
}

button.large {
	border: 0;
	background: var(--bgColor);
	border-radius: 9em;
	border: 0;
	transition: 0.1s all ease-in-out;
}

button.large:hover,
button.large:focus {
	transform: scale(1.1);
	box-shadow: 0 0 0 6px var(--saturatedColor), 0 0 0 12px var(--bgColor);
}

button.large.center:hover,
button.large.center:focus {
	transform: translate(-50%, -50%) scale(1.1);
}

.center,
.center-wide {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}

@media only screen and (max-width: 800px) {
	.center-wide {
		position: static;
		transform: none;
	}
}

.spinner {
	width: 0;
	height: 0;
	padding: 1em;
	border: 0.2em solid transparent;
	border-top-color: inherit;
	border-radius: 9em;
	animation: spin 0.5s infinite linear;
	margin: auto;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.cover {
	background: var(--saturatedColor);
	color: var(--bgColor);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
